/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-disabled .step,
.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}





/* generic utility classes */
.align-right, .table td.align-right, .table th.align-right {
	text-align: right;
}





/* Generic slide/step styles */

.slide {
    display: box;

    width: 900px;
    height: 700px;

    padding: 10px 40px 10px 40px;

    border-radius: 10px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
}

.step {
    width: 900px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step {
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }





/* Slide headers */

.slide h1, .slide h2 {
	text-align: center;
}

.slide h1 {
    font-size: 45px;
    line-height: 50px;
}
.slide h2 {
    font-size: 35px;
    line-height: 40px;
    font-weight: normal;
}




/* Title slide */

#yodawg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.authors {
	text-align: center;
	margin-top: 150px;
}
.authors p {
    font-size: 28px;
    line-height: 33px;
}





/* Generic slide formatting */

.slide ul {
	margin-top: 20px;
}
.slide ul li {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 30px;
}

.slide table {
	margin-top: 20px;
	font-size: 30px;
    margin-left:auto; 
    margin-right:auto;
    border-bottom: 2px solid #666666;
}
.slide table td, .slide table th {
	line-height: 36px;
}
.slide table th {
	border-bottom: 2px solid #666666;
	border-top: 2px solid #666666;
}

.slide .solo-image {
    margin-top: 40px;
}

.slide pre {
	margin-top: 40px;
	font-size: 25px;
	line-height: 29px;
}
